html {
    background-color: #ffea00;
}

#title {
    font-family: "M PLUS Rounded 1c";
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    display: flex;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    justify-content: center;
}

#choice-container {
    display: flex;
    justify-content: center;
}

.hands-img {
    width: 250px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.containers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    font-family: sans-serif;
    font-size: 14px;
    background-color: #f7e51b;
    border: 1px solid gold;
    border-radius: 15px;
    cursor: pointer;
    width: 150px;
    height: 35px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
}

.button:hover {
    border: 1px solid #e3d21b;
    box-shadow: 1px 1px #c7b816;
}

#buttons-container {
    display: flex;
    flex-direction: row;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#your-choice {
    transform: scaleX(-1);
}

.names{
    color: white;
    font-family: sans-serif;
    border-radius: 20px;
    padding: 10px;
    opacity: 0.85;
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

#you {
    background-color: #0000ff;
}

#computer {
    background-color: #e83403;
}

#menu-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#github {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#reset {
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    width: 80px;
    border: none;
    border-radius: 20px;
    background-color: #f7e51b;
    border: 1px solid gold;
    cursor: pointer;
}

#reset:hover {
    border: 1px solid #e3d21b;
    box-shadow: 1px 1px #c7b816;
}

#rules {
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    width: 80px;
    border: none;
    border-radius: 20px;
    background-color: #f7e51b;
    border: 1px solid gold;
    cursor: pointer;
}

#rules:hover {
    border: 1px solid #e3d21b;
    box-shadow: 1px 1px #c7b816;
}

#github-logo {
    width: 40px;
}

#score {
    display: flex;
    justify-content: center;
}

#score-text {
    font-family: "M PLUS Rounded 1c";
    font-size: 25px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border: 1px solid #e3d21b;
    box-shadow: 2px 3px #c7b816;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}